header {
    height: 100vh;
    padding-top: 6rem;
    overflow: hidden;
    .header__container {
        text-align: center;
        height: 100%;
        position: relative;
        h5{
            font-size: 1.1rem;
        }
        h1 {
            color: var(--color-primary);
            font-size: 3rem;
            font-weight: 700;
        }
    
        .cta {
            margin-top: 2.5rem;
            display: flex;
            gap: 1.2rem;
            align-items: center;
            justify-content: center;
        }
        .header__socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .2);
            border-radius: 50px;
            padding: 2rem 1rem;
            &::after {
                content: "";
                width: 2px;
                height: 3rem;
                background: var(--color-primary);
            }
            
            a {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                color: var(--color-white);
                font-size: 1.5rem;
                background: var(--color-bg);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: var(--transition);
                &:hover {
                    transform: translateY(-3px);
                    color: var(--color-white);
                    background: var(--color-primary);
                }
            }
        }
        .me {
            background: linear-gradient(var(--color-primary), transparent);
            width: 22rem;
            height: 30rem;
            position: absolute;
            left: calc(50% - 11rem);
            margin-top: 4rem;
            border-radius: 12rem 12rem 0 0;
            overflow: hidden;
            object-fit: cover;
            img {
                padding-bottom: 1rem;
                object-fit: cover;
            }
        }
    }
}



@media screen and (max-width: 1024px) {
    header {
        padding-top: 3rem;
        height: 100vh;
        .header__container {
            .cta {
                margin-top: 1.5rem;
            }
            .header__socials {
                margin-top: 1.5rem;
                flex-direction: row;
                position: relative;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: transparent;
                padding: 0;
                &::after {
                    content: "";
                    width: 3rem;
                    height: 2px;
                    background: var(--color-primary);
                }
                a {
                    background: rgba(0, 0, 0, .2);
                }
            }
            .me {
                margin-top: 2.5rem;
                .img {
                    margin-bottom: 10rem;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 4rem;
        .header__container {
            h1 {
                font-size: 2rem;
            }
            h5 {
                font-size: .9rem;
            }
            .cta {
                margin-top: 1.5rem;
            }
            .header__socials {
                margin-top: 1.5rem;
                flex-direction: row;
                position: relative;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: transparent;
                padding: 0;
                &::after {
                    content: "";
                    width: 3rem;
                    height: 2px;
                    background: var(--color-primary);
                }
                a {
                    background: rgba(0, 0, 0, .2);
                }
            }
            .me {
                margin-top: 3rem;
            }
        }
    }
}
