section {
  padding-left: 3rem;
  padding-right: 8rem;
  min-height: 100vh;
}
section h5 {
  padding-top: 2rem;
  font-size: 1.1rem;
}
section h2 {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 2rem;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 10%;
}
.about__container .about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.about__container .about__me .about__me__image {
  -o-object-fit: cover;
     object-fit: cover;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transition: var(--transition);
}
.about__container .about__me .about__me__image:hover {
  transform: rotate(0);
  transition: var(--transition);
}
.about__container .about__contact p {
  padding: 2rem 0;
  color: var(--color-light);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.about__container .about__contact .about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__container .about__contact .about__cards .about__tag {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}
.about__container .about__contact .about__cards .about__tag:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.about__container .about__contact .about__cards .about__tag:hover .about__icon {
  transform: translateY(-3px);
  color: var(--color-white);
  background: var(--color-primary);
}
.about__container .about__contact .about__cards .about__tag .about__icon {
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 1.5rem;
  background: var(--color-bg);
  transition: var(--transition);
}
.about__container .about__contact .about__cards .about__tag h5 {
  font-size: 1.5rem;
  color: var(--color-white);
}
.about__container .about__contact .about__cards .about__tag small {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-light);
}

@media screen and (max-width: 1024px) {
  section {
    padding: 0;
  }
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__container .about__me {
    width: 65%;
    margin: 2rem auto 6rem;
  }
  .about__container p {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  .about__container .about__me {
    width: 70%;
    margin: 0 auto 4rem;
  }
  .about__container .about__contact .about__cards {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    gap: 1rem;
  }
  .about__container p {
    margin: 1.5rem 0;
  }
}
@media screen and (max-width: 450px) {
  .about__container .about__contact .about__cards {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=about.css.map */