@media screen and (max-width: 600px){
    header{
        min-height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
        .header--content {
            grid-template-columns: 1fr;
            padding: 1rem;
            width: 100%;
        
        .left--header {
            margin-top: 3rem;
            .image {
                margin-left: 0;
                width: 100%;
            }
        }
    }
    }
